apiVersion: apps/v1
kind: Deployment
metadata:
  name: hiap-test
  namespace: default
  labels:
    app: hiap-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hiap-test
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: hiap-test
    spec:
      containers:
        - name: hiap-test
          image: ghcr.io/open-earth-foundation/citycatalyst-hiap:test
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
              name: http
          env:
            - name: API_HOST
              value: "0.0.0.0"
            - name: API_PORT
              value: "8000"
          resources:
            requests:
              cpu: "250m"
              memory: "1Gi"
              ephemeral-storage: "1Gi"
            limits:
              cpu: "500m"
              memory: "2Gi"
              ephemeral-storage: "2Gi"
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
            successThreshold: 1
          startupProbe:
            httpGet:
              path: /
              port: http
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 30
