# global
.git
__pycache__
.env
.venv
Dockerfile
app/vector_stores/

# plan_creator
app/plan_creator/data/output/

# plan_creator_legacy
app/plan_creator_legacy/data/input_local_testing/
app/plan_creator_legacy/data/output/

# prioritizer
app/prioritizer/data/prioritized_local_testing/
app/prioritizer/data/schema/

# testing
manual_k8s.yaml