# Byte-compiled / optimized / DLL files
__pycache__/

# vscode
.vscode/

# global
.env
.venv

# Plan creator
app/plan_creator/data/output/

# Plan creator legacy
app/plan_creator_legacy/data/output/
app/plan_creator_legacy/vector_stores/

# Prioritizer
app/prioritizer/data/prioritized_local_testing/