modules = ["nodejs-20", "python-3.12", "bash"]
run = "cd app && npm run dev"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run CityCatalyst"

[[workflows.workflow]]
name = "Run CityCatalyst"
author = 24359658
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd app && npm install && npm run dev"

[deployment]
run = ["sh", "-c", "cd app && npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80
