aiohappyeyeballs==2.6.1
    # via aiohttp
aiohttp==3.13.1
    # via langchain-community
aiosignal==1.4.0
    # via aiohttp
annotated-types==0.7.0
    # via pydantic
anyio==4.11.0
    # via
    #   httpx
    #   openai
    #   starlette
    #   watchfiles
attrs==25.4.0
    # via
    #   aiohttp
    #   jsonschema
    #   referencing
backoff==2.2.1
    # via posthog
bcrypt==5.0.0
    # via chromadb
boto3==1.40.45
    # via hiap
botocore==1.40.45
    # via
    #   boto3
    #   s3transfer
build==1.3.0
    # via chromadb
cachetools==6.2.0
    # via google-auth
certifi==2025.8.3
    # via
    #   httpcore
    #   httpx
    #   kubernetes
    #   requests
charset-normalizer==3.4.3
    # via requests
chromadb==1.1.0
    # via
    #   hiap
    #   langchain-chroma
click==8.3.0
    # via
    #   typer
    #   uvicorn
colorama==0.4.6 ; os_name == 'nt' or sys_platform == 'win32'
    # via
    #   build
    #   click
    #   pytest
    #   tqdm
    #   uvicorn
coloredlogs==15.0.1
    # via onnxruntime
dataclasses-json==0.6.7
    # via langchain-community
deprecated==1.2.18
    # via limits
distro==1.9.0
    # via
    #   openai
    #   posthog
durationpy==0.10
    # via kubernetes
fastapi==0.118.0
    # via hiap
filelock==3.19.1
    # via huggingface-hub
flatbuffers==25.9.23
    # via onnxruntime
frozenlist==1.7.0
    # via
    #   aiohttp
    #   aiosignal
fsspec==2025.9.0
    # via huggingface-hub
google-auth==2.41.1
    # via kubernetes
googleapis-common-protos==1.70.0
    # via opentelemetry-exporter-otlp-proto-grpc
greenlet==3.2.4 ; (python_full_version < '3.14' and platform_machine == 'AMD64') or (python_full_version < '3.14' and platform_machine == 'WIN32') or (python_full_version < '3.14' and platform_machine == 'aarch64') or (python_full_version < '3.14' and platform_machine == 'amd64') or (python_full_version < '3.14' and platform_machine == 'ppc64le') or (python_full_version < '3.14' and platform_machine == 'win32') or (python_full_version < '3.14' and platform_machine == 'x86_64')
    # via sqlalchemy
grpcio==1.75.1
    # via
    #   chromadb
    #   opentelemetry-exporter-otlp-proto-grpc
h11==0.16.0
    # via
    #   httpcore
    #   uvicorn
hf-xet==1.1.10 ; platform_machine == 'aarch64' or platform_machine == 'amd64' or platform_machine == 'arm64' or platform_machine == 'x86_64'
    # via huggingface-hub
httpcore==1.0.9
    # via httpx
httptools==0.6.4
    # via uvicorn
httpx==0.28.1
    # via
    #   chromadb
    #   hiap
    #   langgraph-sdk
    #   langsmith
    #   openai
httpx-sse==0.4.1
    # via langchain-community
huggingface-hub==0.35.3
    # via tokenizers
humanfriendly==10.0
    # via coloredlogs
idna==3.10
    # via
    #   anyio
    #   httpx
    #   requests
    #   yarl
importlib-metadata==8.7.0
    # via opentelemetry-api
importlib-resources==6.5.2
    # via chromadb
iniconfig==2.1.0
    # via pytest
jiter==0.11.0
    # via openai
jmespath==1.0.1
    # via
    #   boto3
    #   botocore
joblib==1.5.2
    # via scikit-learn
jsonpatch==1.33
    # via langchain-core
jsonpointer==3.0.0
    # via jsonpatch
jsonschema==4.25.1
    # via chromadb
jsonschema-specifications==2025.9.1
    # via jsonschema
kubernetes==34.1.0
    # via chromadb
langchain==0.3.27
    # via
    #   hiap
    #   langchain-community
langchain-chroma==0.2.6
    # via hiap
langchain-community==0.3.30
    # via hiap
langchain-core==0.3.77
    # via
    #   hiap
    #   langchain
    #   langchain-chroma
    #   langchain-community
    #   langchain-openai
    #   langchain-text-splitters
    #   langgraph
    #   langgraph-checkpoint
    #   langgraph-prebuilt
langchain-openai==0.3.34
    # via hiap
langchain-text-splitters==0.3.11
    # via
    #   hiap
    #   langchain
langgraph==0.6.8
    # via hiap
langgraph-checkpoint==2.1.1
    # via
    #   hiap
    #   langgraph
    #   langgraph-prebuilt
langgraph-prebuilt==0.6.4
    # via
    #   hiap
    #   langgraph
langgraph-sdk==0.2.9
    # via
    #   hiap
    #   langgraph
langsmith==0.4.31
    # via
    #   hiap
    #   langchain
    #   langchain-community
    #   langchain-core
limits==5.6.0
    # via
    #   hiap
    #   slowapi
markdown-it-py==4.0.0
    # via rich
marshmallow==3.26.1
    # via dataclasses-json
mdurl==0.1.2
    # via markdown-it-py
mmh3==5.2.0
    # via chromadb
mpmath==1.3.0
    # via sympy
multidict==6.6.4
    # via
    #   aiohttp
    #   yarl
mypy-extensions==1.1.0
    # via typing-inspect
numpy==2.3.3
    # via
    #   chromadb
    #   langchain-chroma
    #   langchain-community
    #   onnxruntime
    #   pandas
    #   scikit-learn
    #   scipy
    #   xgboost
nvidia-nccl-cu12==2.28.3 ; platform_machine != 'aarch64' and sys_platform == 'linux'
    # via xgboost
oauthlib==3.3.1
    # via requests-oauthlib
onnxruntime==1.23.0
    # via chromadb
openai==2.0.0
    # via
    #   hiap
    #   langchain-openai
opentelemetry-api==1.37.0
    # via
    #   chromadb
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-sdk
    #   opentelemetry-semantic-conventions
opentelemetry-exporter-otlp-proto-common==1.37.0
    # via opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-grpc==1.37.0
    # via chromadb
opentelemetry-proto==1.37.0
    # via
    #   opentelemetry-exporter-otlp-proto-common
    #   opentelemetry-exporter-otlp-proto-grpc
opentelemetry-sdk==1.37.0
    # via
    #   chromadb
    #   opentelemetry-exporter-otlp-proto-grpc
opentelemetry-semantic-conventions==0.58b0
    # via opentelemetry-sdk
orjson==3.11.3
    # via
    #   chromadb
    #   langgraph-sdk
    #   langsmith
ormsgpack==1.10.0
    # via langgraph-checkpoint
overrides==7.7.0
    # via chromadb
packaging==25.0
    # via
    #   build
    #   huggingface-hub
    #   langchain-core
    #   langsmith
    #   limits
    #   marshmallow
    #   onnxruntime
    #   pytest
pandas==2.3.3
    # via hiap
pluggy==1.6.0
    # via pytest
posthog==5.4.0
    # via chromadb
propcache==0.4.1
    # via
    #   aiohttp
    #   yarl
protobuf==6.32.1
    # via
    #   googleapis-common-protos
    #   onnxruntime
    #   opentelemetry-proto
pyasn1==0.6.1
    # via
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.4.2
    # via google-auth
pybase64==1.4.2
    # via chromadb
pydantic==2.11.9
    # via
    #   chromadb
    #   fastapi
    #   hiap
    #   langchain
    #   langchain-core
    #   langgraph
    #   langsmith
    #   openai
    #   pydantic-settings
pydantic-core==2.33.2
    # via pydantic
pydantic-settings==2.11.0
    # via
    #   hiap
    #   langchain-community
pygments==2.19.2
    # via
    #   pytest
    #   rich
pypika==0.48.9
    # via chromadb
pyproject-hooks==1.2.0
    # via build
pyreadline3==3.5.4 ; sys_platform == 'win32'
    # via humanfriendly
pytest==8.4.2
    # via hiap
python-dateutil==2.9.0.post0
    # via
    #   botocore
    #   kubernetes
    #   pandas
    #   posthog
python-dotenv==1.1.1
    # via
    #   hiap
    #   pydantic-settings
    #   uvicorn
pytz==2025.2
    # via pandas
pyyaml==6.0.3
    # via
    #   chromadb
    #   huggingface-hub
    #   kubernetes
    #   langchain
    #   langchain-community
    #   langchain-core
    #   uvicorn
referencing==0.36.2
    # via
    #   jsonschema
    #   jsonschema-specifications
regex==2025.9.18
    # via tiktoken
requests==2.32.5
    # via
    #   hiap
    #   huggingface-hub
    #   kubernetes
    #   langchain
    #   langchain-community
    #   langsmith
    #   posthog
    #   requests-oauthlib
    #   requests-toolbelt
    #   tiktoken
requests-oauthlib==2.0.0
    # via kubernetes
requests-toolbelt==1.0.0
    # via langsmith
rich==14.1.0
    # via
    #   chromadb
    #   typer
rpds-py==0.27.1
    # via
    #   jsonschema
    #   referencing
rsa==4.9.1
    # via google-auth
s3transfer==0.14.0
    # via boto3
scikit-learn==1.7.2
    # via hiap
scipy==1.16.2
    # via
    #   scikit-learn
    #   xgboost
shellingham==1.5.4
    # via typer
six==1.17.0
    # via
    #   kubernetes
    #   posthog
    #   python-dateutil
slowapi==0.1.9
    # via hiap
sniffio==1.3.1
    # via
    #   anyio
    #   openai
sqlalchemy==2.0.43
    # via
    #   langchain
    #   langchain-community
starlette==0.48.0
    # via fastapi
sympy==1.14.0
    # via onnxruntime
tenacity==9.1.2
    # via
    #   chromadb
    #   langchain-community
    #   langchain-core
threadpoolctl==3.6.0
    # via scikit-learn
tiktoken==0.11.0
    # via
    #   hiap
    #   langchain-openai
tokenizers==0.22.1
    # via chromadb
tqdm==4.67.1
    # via
    #   chromadb
    #   huggingface-hub
    #   openai
typer==0.19.2
    # via chromadb
typing-extensions==4.15.0
    # via
    #   aiosignal
    #   anyio
    #   chromadb
    #   fastapi
    #   grpcio
    #   huggingface-hub
    #   langchain-core
    #   limits
    #   openai
    #   opentelemetry-api
    #   opentelemetry-exporter-otlp-proto-grpc
    #   opentelemetry-sdk
    #   opentelemetry-semantic-conventions
    #   pydantic
    #   pydantic-core
    #   referencing
    #   sqlalchemy
    #   starlette
    #   typer
    #   typing-inspect
    #   typing-inspection
typing-inspect==0.9.0
    # via dataclasses-json
typing-inspection==0.4.2
    # via
    #   pydantic
    #   pydantic-settings
tzdata==2025.2
    # via pandas
urllib3==2.3.0
    # via
    #   botocore
    #   kubernetes
    #   requests
uvicorn==0.38.0
    # via
    #   chromadb
    #   hiap
uvloop==0.21.0 ; platform_python_implementation != 'PyPy' and sys_platform != 'cygwin' and sys_platform != 'win32'
    # via uvicorn
watchfiles==1.1.1
    # via uvicorn
websocket-client==1.8.0
    # via kubernetes
websockets==15.0.1
    # via uvicorn
wrapt==1.17.3
    # via deprecated
xgboost==3.0.5
    # via hiap
xxhash==3.5.0
    # via langgraph
yarl==1.20.1
    # via aiohttp
zipp==3.23.0
    # via importlib-metadata
zstandard==0.25.0
    # via langsmith
