NODE_ENV="development"
DATABASE_HOST="localhost"
DATABASE_NAME="citycatalyst"
DATABASE_USER="citycatalyst"
DATABASE_PASSWORD="development"
NEXTAUTH_SECRET="TiK4b44DchsoV5009j0qf0jUnFzVloWem8WHZfgnWVU="
NEXTAUTH_URL="http://localhost:3000"
HOST="http://localhost:3000"
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT="587"
SMTP_USER="user"
SMTP_PASSWORD="password"
SMTP_FROM_EMAIL="ethereal.user@ethereal.email"
RESET_TOKEN_SECRET="WwjFGhcP8VikgsmtcPv+ufPhTGS8t7e+/aN5k2qY4ms="
NEXT_PUBLIC_SUPPORT_EMAILS="info@openearth.org,greta@openearth.org"
VERIFICATION_TOKEN_SECRET="80c70dfdeedf2c01757b880d39c79214e915c786dd48d5473c9c0aecf81d67cf"
HUGGINGFACE_API_KEY="hf_MY_SECRET_KEY"
OPENAI_API_KEY="sk-MY_SECRET_KEY"
OPENAI_ASSISTANT_ID="asst_ASSISTANT_ID"
CHAT_PROVIDER=huggingface
OPEN_AI_MODEL="gpt-4o-mini"
ADMIN_EMAILS="admin@mail.com"
ADMIN_NAMES="John doe"
NEXT_PUBLIC_OPENCLIMATE_API_URL="https://openclimate.openearth.dev"
DEFAULT_ADMIN_EMAIL=johndoe@example.com
DEFAULT_ADMIN_PASSWORD=password