NODE_ENV="development"
DATABASE_HOST="localhost"
DATABASE_NAME="citycatalyst"
DATABASE_USER="citycatalyst"
DATABASE_PASSWORD=
NEXTAUTH_SECRET="TiK4b44DchsoV5009j0qf0jUnFzVloWem8WHZfgnWVU="
NEXTAUTH_URL="http://localhost:3000"
