NODE_ENV="development"
DATABASE_HOST="localhost"
DATABASE_NAME="citycatalyst"
DATABASE_USER="citycatalyst"
DATABASE_PASSWORD="development"
NEXTAUTH_SECRET="TiK4b44DchsoV5009j0qf0jUnFzVloWem8WHZfgnWVU="
NEXTAUTH_URL="http://localhost:3000"
HOST="http://localhost:3000"
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT="587"
SMTP_USER="user"
SMTP_PASSWORD="password"
SMTP_FROM_EMAIL="ethereal.user@ethereal.email"
RESET_TOKEN_SECRET="WwjFGhcP8VikgsmtcPv+ufPhTGS8t7e+/aN5k2qY4ms="
NEXT_PUBLIC_SUPPORT_EMAILS="info@openearth.org,greta@openearth.org"

