osmnx==1.9.3
cython
numpy
pandas==2.2.2
annotated-types==0.7.0
anyio==4.7.0
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
distro==1.9.0
h11==0.14.0
#httpcore==1.0.7
#httpx==0.28.1
idna==3.10
jiter==0.8.2
#langsmith==0.2.1
#openai==1.57.1
orjson==3.10.12
pydantic==2.10.3
pydantic-core==2.27.1
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
sniffio==1.3.1
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.2.3
#shapely==2.0.4
#fiona
#pyproj==3.6.*
#geopandas==0.14.4
#xarray==2024.*
#netcdf4
