aiohttp==3.13.*
alembic==1.17.1
fastapi==0.121.1
black==25.11.0
flake8==7.3.0
fsspec==2025.*
geopandas>=0.12,<1.2
mypy==1.18.2
osmnx==2.0.6
pandas==2.3.3
psycopg2-binary==2.9.11
pydantic-settings==2.*
pytest==8.4.2
rioxarray>=0.15.0,<1.0
scipy==1.16.*
shapely==2.1.2
SQLAlchemy==2.0.44
tqdm==4.67.*
uvicorn==0.38.0
xarray==2025.*
geojson==3.2.*
openclimate==0.1.*
nest_asyncio==1.6.*
xlrd==2.0.*
dns-cache==0.3.*
openpyxl==3.1.*
pytest==8.4.2
pytest-cov==7.0.0
httpx==0.28.1
pyproj==3.7.*