fastapi==0.103.2
uvicorn==0.23.2
black==23.9.1
flake8==6.1.0
mypy==1.6.0
pandas==2.1.1
pytest==7.4.2
SQLAlchemy==2.0.22
alembic==1.12.0
geopandas==0.14.0
shapely==2.0.2
osmnx==1.7.0
psycopg2-binary==2.9.9
pydantic-settings==2.*