aiohttp==3.11.*
alembic==1.14.0
black==24.10.0
fastapi==0.115.6
flake8==7.1.1
fsspec==2024.*
geopandas>=0.12,<1.1
mypy==1.14.0
osmnx==2.0.0
pandas==2.2.3
psycopg2-binary==2.9.10
pydantic-settings==2.*
pytest==8.3.4
rioxarray==0.18.*
scipy==1.14.*
shapely==2.0.6
SQLAlchemy==2.0.36
tqdm==4.67.*
uvicorn==0.34.0
xarray==2024.*
geojson==3.2.*
openclimate==0.1.*
nest_asyncio==1.6.*
xlrd==2.0.*
dns-cache==0.3.*
openpyxl==3.1.*
pytest==8.3.4
pytest-cov==6.0.0
httpx==0.28.1
pyproj==3.7.*