name: Push mageai to the latest deploy helm chart to Amazon EKS

on:
  workflow_dispatch:
  push:
    paths:
      - global-api/importer-mage/**
      - charts/mage-ai/**
      - .github/workflows/mage-ai-develop.yml
      - global-api/requirements.txt
    branches: ["develop"]
  pull_request:
    paths:
      - global-api/importer-mage/**
      - global-api/requirements.txt

jobs:
  pushToGHCR:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./global-api/importer-mage

    steps:
      - uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pushing mageai to GHCR
        env:
          VERSION: ${{ github.sha }}
          IMAGE: ghcr.io/open-earth-foundation/citycatalyst-mage-ai
        run: |
          docker build -t $IMAGE:$VERSION .
          docker tag $IMAGE:$VERSION $IMAGE:latest
          docker push $IMAGE:$VERSION
          docker push $IMAGE:latest
